p {
  font-size: 1.5rem;
}
li {
  font-size: 1.7rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom:1rem;
}
.chapter-sub-text{
  text-align: center;
}

.contents-heading {
  font-size: 3rem;
  text-align: center;
}

.pageHeading {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom:0.5rem;
}
.subHeading2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom:0.5rem;
}
.subHeading3 {
  
  font-weight: 800;
  margin-bottom: 0.3rem;
  margin-left: 1rem;
  color:black;
}

.subHeading3-text{
  color: black;
  margin-left: 1rem;
  padding-bottom: 0;
}
.text-align-right {
  text-align: right;
}


.row-header-text {
  color: black;
  margin: 6px;
  padding: 3px;
}